.mainDiv {
  margin: 20px;
}

.brand-name,
.form-heading,
.form-footer {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #F4F4F4;
  border-radius: 5px;
}

.btn-primary {
  margin-top: 25px;
}
